<%- include('partials/content-header') -%>

<div class="card text-center dashboard">
    <div class="card-header">
      Dashboard
    </div>
    <div class="card-body">
      <h5 class="card-title">No Dashboard Information</h5>
      <p class="card-text">This dashboard doesn't have any content yet.</p>
    </div>
    <div class="card-footer text-muted">
    </div>
  </div>


<%- include('partials/footer'); -%>