

<%- include('partials/header') -%>

<div class="topcontainer">
 
     <div class="topheader">
        <h1>Your Number 1 Supplier of Range Nets in the Country</h1>
     </div>
     <div class="topimage">
        <img src="images/backgroundimage.jpg" alt="Net Image" border-radius="15px 50px 30px 5px">   
     </div>

</div>

<%- include('partials/footer'); -%>