<%- include('partials/content-header') -%>

  <!-- <div class="additem">
     <a class ="nav-link text-dark p-2" href="/additem"><h4>Add Item</h4></a>
  </div> -->
  <div class="addloc">
    <a class="addprod" href="/additem"><strong>+Add Item</strong></a>
  </div>
  <hr>
      <table class="table table-primary table-hover invtable">
       <thead class="table-dark">
        <tr>
          <th>Name</th>
          <th>Quantity Received</th>
          <th>Quantity Issued</th>
          <th>Balance</th>
          <th>Price</th>
          <th>Date Received</th>
          <th>Action</th>
        </tr>
      </thead>
        <tbody>
        <tr>
           <td>Range net</td>
           <td>100</td>
           <td>50</td>
           <td>50</td>
           <td>200</td>
           <td>Today</td>
           <td>Button</td>
        </tr>
        </tbody>
      </table>

      
    

      
    
       


<%- include('partials/footer'); -%>