
body {
  
   background-image: url('../images/netsbackground.jpg');
  background-repeat: no-repeat, repeat;
        background-size: cover;
/* 
  margin: 0; 
  padding: 0; */
  font-family: 'Fira Code', monospace;
        
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}


/* landing page style */

.topcontainer {
   
   display: flex;
   margin: 0px auto 0px;
   padding: 120px 60px 60px;
   background-color:hsla(166,100%,50%,0.82);
background-image:
radial-gradient(at 16% 20%, hsla(85,62%,65%,1) 0px, transparent 50%),
radial-gradient(at 86% 72%, hsla(227,92%,68%,1) 0px, transparent 50%);  
}

.topcontainer p {
  
  font-size: 25px;
  margin-top: 5%;
   
}

.topheader {

   margin-top: 5%;
}



#midcontainer {
  
padding: 40px 200px 40px;
background-color:hsla(166,100%,50%,0.82);
padding-bottom: 80px;
background-image:
radial-gradient(at 16% 20%, hsla(227,92%,68%,1) 0px, transparent 50%),
radial-gradient(at 86% 72%, hsla(85,62%,65%,1) 0px, transparent 50%);
}

.midheader {

   position: relative;
   text-align: center;
   padding: 5px;
   margin: 20px auto 20px;
   border: 5px solid #002E94;
   width: 50%;
}

#bottomcontainer {

text-align: center;
padding: 60px;
background-color: #8BBCCC;
font-size: large;
font-weight: bold;
}


/* .. */



.dashboard {
  margin: 100px 50px 75px;
}

.addloc {
  margin-top: 35px;
}

.addprod {
  
  color: #000000;
  opacity: 3;
  font-size: 25px;
  text-decoration: none;
  margin-left: 15%;
}

hr {

  width: 70%;
  height: 5px;
  margin-left: auto;
  margin-right: auto;
  background-color: #000000;
  opacity: 3;
}

.invcontent {

  margin-top: 100px;
}

.invtable {
  
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  width: 70%;
}

.bgnavcolor {
  overflow: hidden;
  position: fixed;
  background-color: #243A73;
  width: 100%;
  z-index: 99999999;
  top: 0;
  
}

.salestable {

    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    width: 70%;
}

/* login-box style */

.login-box {

  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.6);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {

  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {

  position: relative;
}

.login-box .user-box input {

  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {

  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

p {
  color: #fff;
}

h1 {
  color: #fff;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {

  top: -20px;
  left: 0;
  color: #055c61;
  font-size: 12px;
}

.login-box form button {

  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #055c61;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
  background-color: #243b55;
};

.login-box button:hover {

  background: #055c61;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #055c61,
              0 0 25px #055c61,
              0 0 50px #055c61,
              0 0 100px #055c61;
}

.login-box button span {

  position: absolute;
  display: block;
}

.login-box button span:nth-child(1) {

  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #055c61);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box button span:nth-child(2) {

  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #055c61);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box button span:nth-child(3) {

  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #055c61);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box button span:nth-child(4) {

  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #055c61);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

/*  Add Product form */

.addpbox {

  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  margin: 10px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.6);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.addpbox h2 {

margin: 0 0 30px;
padding: 0;
color: #fff;
text-align: center;
}

.addpbox .input-box input {

  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.addpbox .input-box label {

  /* position: absolute;
  top:0;
  left: 0;
  padding: 10px 0; */
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.btn1 {
  margin-bottom: 10px;
}


/*footer style */

#footer {
  
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  text-align: center;
  background-color: #251B37;
}

#footer p {
  font-size: 12px;
  color: #F2EBE9;
  margin-bottom: 0px;
  padding: 10px 0px 0px;
 
}
